<div class="row">

    <div class="col-6">

        <h1 class="h1">Check-Ins-N-Dragons</h1>

    </div>

    <div class="col-6">

        <a href="/logout" class="logout">Logout</a>

    </div>

</div>

<div class="row">

    <div class="col-6">

        <h1 class="h-1">{{name}}, Create A Character</h1>

    </div>

</div>

<div class="container">

    <div class="row">

        <div class="col-6">

            <h1>Character Creation</h1>

            <form>

                <label for="charName">Enter A Username</label>

                <div class="input-group">
                    <input type="text" class="form-control" id="charName">
                </div>

                <div class="btn-group">

                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Race
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">

                        <li>
                            <a {{characterRace}}>Human</a>
                        </li>
                        <li>
                            <a {{characterRace}}>Elf</a>
                        </li>
                        <li>
                            <a {{characterRace}}>Dwarf</a>
                        </li>
                        <li>
                            <a {{characterRace}}>Halfling</a>
                        </li>

                    </ul>

                </div>

                <div class="btn-group">

                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Class
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">

                        <li>
                            <a {{characterClass}}>Soldier</a>
                        </li>
                        <li>
                            <a {{characterClass}}>Warden</a>
                        </li>
                        <li>
                            <a {{characterClass}}>Ranger</a>
                        </li>
                        <li>
                            <a {{characterClass}}>Invoker</a>
                        </li>
                        <li>
                            <a {{characterClass}}>Vagabond</a>
                        </li>

                    </ul>

                </div>

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <a href="/welcome" class="btn btn-primary" id="enterCreation">Next</a>

        </div>

    </div>

    </form>

</div>

<script>

    $(".dropdown-menu").on('click', 'li a', function () {
        $(this).parent().parent().siblings(".btn:first-child").html($(this).text() + ' <span class="caret"></span>');
        $(this).parent().parent().siblings(".btn:first-child").val($(this).text());

</script>