<div class="row">

    <div class="col-6">

        <h1 class="h1">Check-Ins-N-Dragons</h1>

    </div>

    <div class="col-6">

        <a href="/logout" class="logout">Logout</a>

    </div>

</div>

<div class="row">

    <div class="col-6">

        <h1 class="h-1">{{name}}, Create A Character</h1>

    </div>

</div>

<div class="container">

    <div class="row">

        <div class="col-6">

            <h1>Character Creation</h1>

            <form id="createCharacterForm" name="createCharacter" method="post" action="/api/characters">

                <label for="charName">Enter A Username</label>

                <div class="input-group">
                    <input type="text" name="charName" class="form-control" id="charName">
                </div>

                <div class="btn-group">

                    <button type="button" class="btn btn-primary dropdown-toggle toggle-charRace" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Race
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu charRace">

                        <li>
                            <a {{characterRace}}>Human</a>
                        </li>
                        <li>
                            <a {{characterRace}}>Elf</a>
                        </li>
                        <li>
                            <a {{characterRace}}>Dwarf</a>
                        </li>
                        <li>
                            <a {{characterRace}}>Halfling</a>
                        </li>

                    </ul>

                </div>

                <div class="btn-group">

                    <button type="button" class="btn btn-primary dropdown-toggle toggle-charClass" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Class
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu charClass">

                        <li>
                            <a {{characterClass}}>Soldier</a>
                        </li>
                        <li>
                            <a {{characterClass}}>Warden</a>
                        </li>
                        <li>
                            <a {{characterClass}}>Ranger</a>
                        </li>
                        <li>
                            <a {{characterClass}}>Invoker</a>
                        </li>
                        <li>
                            <a {{characterClass}}>Vagabond</a>
                        </li>

                    </ul>

                </div>

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <button type="submit" class="btn btn-primary" id="createChar">Create</button>
            <!-- <a href="/welcome">Next</a> -->

        </div>

    </div>

    </form>

</div>

<script>

$(document).ready(function() {

    var charName = $("#charName");

    $(document).on("submit", "#createCharacterForm", handleCharacterFormSubmit);

    $('.charRace li > a').click(function(e){
        $('.toggle-charRace').text(this.innerHTML);
    });

    $('.charClass li > a').click(function(e){
        $('.toggle-charClass').text(this.innerHTML);
    });

    // A function to handle what happens when the form is submitted to create a new Character
    function handleCharacterFormSubmit(event) {
        event.preventDefault();
        // Don't do anything if the name fields hasn't been filled out
        if (!charName.val().trim().trim()) {
          return;
        }
        // Calling the upsertCharacter function and passing in the value of the name input
        upsertCharacter({
          name: charName
            .val()
            .trim()
        });
    }

    // A function for creating a character. Calls getCharacters upon completion
    function upsertCharacter(characterData) {
        $.post("/api/characters", characterData)
          // .then(getCharacters);
    }

    // Function for retrieving characters and getting them ready to be rendered to the page
    // function getCharacters() {
    //     $.get("/api/characters", function(data) {
    //       var rowsToAdd = [];
    //       for (var i = 0; i < data.length; i++) {
    //         rowsToAdd.push(createCharacterRow(data[i]));
    //       }
    //       renderCharacterList(rowsToAdd);
    //       charName.val("");
    //     });
    // }

});

</script>