<div class="row">

    <div class="col-6">

        <h1 class="h1">Check-Ins-N-Dragons</h1>

    </div>

    <div class="col-6">

        <a href="/logout" class="logout">Logout</a>

    </div>

</div>

<div class="row">

    <div class="col-6">

        <h1 class="h-1">{{name}}, Create A Character</h1>

    </div>

</div>

<div class="container">

    <div class="row">

        <div class="col-6">

            <h1>Character Creation</h1>

            <form id="createCharacter" name="createCharacter" method="post" action="/createCharacter">

                <label for="charName">Enter A Username</label>

                <div class="input-group">
                    <input type="text" name="charName" class="form-control" id="charName">
                </div>

                <div class="btn-group">

                    <button type="button" class="btn btn-primary dropdown-toggle toggle-charRace" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Race
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu charRace">

                        <li>
                            <a {{characterRace}}>Human</a>
                        </li>
                        <li>
                            <a {{characterRace}}>Elf</a>
                        </li>
                        <li>
                            <a {{characterRace}}>Dwarf</a>
                        </li>
                        <li>
                            <a {{characterRace}}>Halfling</a>
                        </li>

                    </ul>

                </div>

                <div class="btn-group">

                    <button type="button" class="btn btn-primary dropdown-toggle toggle-charClass" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Class
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu charClass">

                        <li>
                            <a {{characterClass}}>Soldier</a>
                        </li>
                        <li>
                            <a {{characterClass}}>Warden</a>
                        </li>
                        <li>
                            <a {{characterClass}}>Ranger</a>
                        </li>
                        <li>
                            <a {{characterClass}}>Invoker</a>
                        </li>
                        <li>
                            <a {{characterClass}}>Vagabond</a>
                        </li>

                    </ul>

                </div>

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <button type="submit" class="btn btn-primary" id="createChar">Create</button>
            <!-- <a href="/welcome">Next</a> -->

        </div>

    </div>

    </form>

</div>

<script>

    $('.charRace li > a').click(function(e){
        $('.toggle-charRace').text(this.innerHTML);
    });

    $('.charClass li > a').click(function(e){
        $('.toggle-charClass').text(this.innerHTML);
    });

    $("#createChar").on("click", function (event) {
        event.preventDefault();
        // Don't do anything if character name not entered.
        if (!charName.val().trim().trim()) {
            return;
        }
        // var newCharacter = {
        //     name: $("charName").val().trim(),
        //     race:
        //     class:
        // };
        upsertChar({
            characterName: $("charName").val().trim(),
            characterClass: $("charClass").val().trim(),
            characterRace: $("charRace").val().trim()
        });
    });

</script>